h1 {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

header{
    border-bottom: 1px solid #38413f;
    margin-bottom: 10px;
}

img{
   max-width:100%;
   height:auto;
   object-fit: cover;
}
nav{
    display: flex;
    justify-content: flex-end;
    ul {
        width:300px;
        height: 6vh;
        display:flex;
        justify-content: space-between;
        align-items: center;
        li{
            font-size: 1.5rem;
            transition: 0.2s;
            border-bottom: 1px solid #E0E2DB;
                &:hover,
                &:focus {
                    border-bottom: 1px solid #38413f;
                }
            a{
                color: #38413f;
            }
                        
            }
        }
} 

.fa-instagram{
    font-size: 2rem;
}

.formContainer{
   margin-left: 50px;
}

form{
    display:flex;
    flex-direction: column;
    width:300px;
    input, button{
        width:100%;
    }
    input{
        padding:2px 10px;
        margin-bottom: 4px;
    }
    textarea{
        resize:none;
        width:100%;
    }
    button{
        margin-top: 8px;
        background-color: #889696;
        color: #38413f;
        padding:10px 20px;
        font-size: 1.5rem;
        border-radius: 1rem;
        border:none;
        font-family: "Prata", serif;
        font-weight: bold;
        transition: 0.3s;
        &:hover,
            &:focus {
                color: #38413f;
                background-color: #B8BDB5;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            }
    }
    
}

.hero{
    display:flex;
    align-items: center;
    width:100%;
    img{
        width:60%;
        height:80vh;
    }
    div{
        width: 40%;
        margin-right: 2rem;
        h1{
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        h3{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }
}

@media(max-width:900px) {

}